.DS_Store
.gitattributes
.vscode
/modules/__pycache__/
__pycache__/
*.session
*.session-old
*.db
*.sqlite3
*-journal
/venv/
.venv/
/downloads/
.idea
config.ini
unknown_errors.txt
moonlogs.txt
thumb.jpg
antipm_pic.jpg
musicbot/
.env
.trunk/
previous_profiles/
