pyrofork==2.3.64
tgcrypto
humanize
pymongo
psutil
Pillow>=10.3.0
dnspython
environs
dulwich==1.1.0
aiohttp
aiofiles
bottle

requests
pySmartDL
ffmpeg-python
gemini-webapi
google-generativeai
pytgcalls==3.0.0.dev24
pytz
